<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Customer List</h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Address</th>
              <th>Mobile Phone</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let customer of customer; let i = index">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.mobilePhone }}</td>
                <td>{{ customer.email }}</td>
                <td>
                  <button type="button" class="btn btn-danger" >Delete</button>
                  <button *ngIf="selectedProductIndex != i" type="button" class="btn btn-success">Update</button>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>

          <div class="page-buttons">
            <button
              class="page-button"
              *ngFor="let page of totalPagesArray"
              (click)="onPageButtonClick(page)"
              [class.active]="page === currentPage"
            >
              {{ page + 1 }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
